# Data Manipulation


Data Manipulation is a fundamental skill in the field of data analysis and data science. It empowers you to transform raw data into meaningful insights, enabling informed decision-making and valuable discoveries.

Lets explore various techniques for data manipulation using the Pandas library. We will use a house price dataset to demonstrate each section. Let's get started!

## Section 1: Filtering Data


Filtering data is a basic but fundamental operation in data wrangling. As we've alredy seen it allows us to extract specific subsets of data that meet certain conditions or criteria incuding specific rows or columns.

In this lesson, we will explore how to use the pandas library in Python to filter data efficiently. We will cover various filtering techniques and scenarios, from simple conditional filtering to more complex operations.


Lets start. To filter the data, we create a new DataFrame filtered_data by specifying a condition within square brackets []. In this example, we filter the dataset to include only the rows where the bedrooms column - BedroomAbvGr - has a value >= 6

In [3]:
import pandas as pd

# Get the house price dataset
!wget https://raw.githubusercontent.com/odsc2015/Data-Wrangling-With-SQL/main/kaggle-house-price-data-set.csv

# Load the dataset
house_df = pd.read_csv('kaggle-house-price-data-set.csv')

# Examining the Data
# Before we dive into filtering, let's familiarize ourselves with the dataset by printing the column names
print(house_df.columns)

# Filtering data based on a condition
filtered_data = house_df[house_df['BedroomAbvGr'] >= 6]

print(filtered_data.head())

--2023-10-19 20:24:26--  https://raw.githubusercontent.com/odsc2015/Data-Wrangling-With-SQL/main/kaggle-house-price-data-set.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 460676 (450K) [text/plain]
Saving to: ‘kaggle-house-price-data-set.csv.2’

kaggle-house-price- 100%[===================>] 449.88K  --.-KB/s    in 0.05s

2023-10-19 20:24:26 (8.51 MB/s) - ‘kaggle-house-price-data-set.csv.2’ saved [460676/460676]

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', 'FstFlrSF', 'SndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', 'TSsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')
      Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
144  145          90       RM         70.0     9100   Pave   NaN      Reg
291  292         190       RL         55.0     5687   Pave  Grvl      Reg
330  331          90       RL          NaN    10624   Pave   NaN      IR1
570  571          90       RL         74.0    13101   Pave   NaN      IR1
635  636         190       RH         60.0    10896   Pave  Pave      Reg

    LandContour Utilities  ... PoolArea PoolQC Fence MiscFeature MiscVal  \
144         Lvl    AllPub  ...        0    NaN   NaN         NaN       0
291         Bnk    AllPub  ...        0    NaN   NaN         NaN       0
330         Lvl    AllPub  ...        0    NaN   NaN         NaN       0
570         Lvl    AllPub  ...        0    NaN   NaN         NaN       0
635         Bnk    AllPub  ...        0    NaN   NaN         NaN       0

    MoSold YrSold  SaleType  SaleCondition  SalePrice
144     11   2006     ConLI        Abnorml     125000
291      3   2008        WD         Normal     135900
330     11   2007        WD         Normal     119000
570     11   2008        WD         Normal     142600
635      3   2007        WD        Abnorml     200000

[5 rows x 81 columns]


###  Filtering by a Single Condition
The most common form of filtering is based on a single condition. We can create a new DataFrame containing rows that meet this condition. In this example, we filter houses with six or more bedrooms.

filtered_data = house_df[house_df['BedroomAbvGr'] >= 6]

### Filtering with Multiple Conditions
You can also filter data based on multiple conditions by combining them using logical operators like & (and) and | (or). Here's an example that filters houses with both six or more bedrooms and three or more bathrooms.

In [9]:
# Filtering with multiple conditions (AND operator)
filtered_data = house_df[(house_df['BedroomAbvGr'] >= 2) & (house_df['FullBath'] >= 2)]


# Display the first few rows of the filtered data
print(filtered_data.head())

0       True
1       True
2       True
3       True
4       True
        ...
1455    True
1456    True
1457    True
1458    True
1459    True
Name: BedroomAbvGr, Length: 1460, dtype: bool
   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0   1          60       RL         65.0     8450   Pave   NaN      Reg
1   2          20       RL         80.0     9600   Pave   NaN      Reg
2   3          60       RL         68.0    11250   Pave   NaN      IR1
4   5          60       RL         84.0    14260   Pave   NaN      IR1
6   7          20       RL         75.0    10084   Pave   NaN      Reg

  LandContour Utilities  ... PoolArea PoolQC Fence MiscFeature MiscVal MoSold  \
0         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
1         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      5
2         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      9
4         Lvl    AllPub  ...        0    NaN   NaN         NaN       0     12
6         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      8

  YrSold  SaleType  SaleCondition  SalePrice
0   2008        WD         Normal     208500
1   2007        WD         Normal     181500
2   2008        WD         Normal     223500
4   2008        WD         Normal     250000
6   2007        WD         Normal     307000

[5 rows x 81 columns]


## Sorting Data

Sorting data is a fundamental data manipulation task that allows us to organize and analyze information efficiently.  Lets explore how to use the pandas library in Python to sort datasets based on one or more columns.

Understanding sorting techniques is essential for tasks like identifying trends, finding the highest or lowest values, and preparing data for visualization or modeling.

### Sorting by a Single Column
The simplest way to sort data is by a single column. We can use the
     
          sort_values()
      
method to do this. Here's an example of sorting houses by their price in ascending order which is the defaul. In the next lines we sort in descending order, you can use the ascending parameter and set it to False

In [10]:
# Sorting data based on a single column

# Sort the data by the 'Price' column in ascending order
sorted_data = house_df.sort_values(by='SalePrice')

# Display the sorted data
print(sorted_data.head())


# Sort the data by the 'SalePrice' column in descending order
sorted_data = house_df.sort_values('SalePrice', ascending=False)

print(sorted_data.head())

      Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
495  496          30  C (all)         60.0     7879   Pave   NaN      Reg
916  917          20  C (all)         50.0     9000   Pave   NaN      Reg
968  969          50       RM         50.0     5925   Pave   NaN      Reg
533  534          20       RL         50.0     5000   Pave   NaN      Reg
30    31          70  C (all)         50.0     8500   Pave  Pave      Reg

    LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
495         Lvl    AllPub  ...        0    NaN   GdWo         NaN       0
916         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
968         Lvl    AllPub  ...        0    NaN   GdWo         NaN       0
533         Low    AllPub  ...        0    NaN    NaN         NaN       0
30          Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0

    MoSold YrSold  SaleType  SaleCondition  SalePrice
495     11   2009        WD        Abnorml      34900
916     10   2006        WD        Abnorml      35311
968      5   2009        WD        Abnorml      37900
533      1   2007        WD         Normal      39300
30       7   2008        WD         Normal      40000

[5 rows x 81 columns]
        Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
691    692          60       RL        104.0    21535   Pave   NaN      IR1
1182  1183          60       RL        160.0    15623   Pave   NaN      IR1
1169  1170          60       RL        118.0    35760   Pave   NaN      IR1
898    899          20       RL        100.0    12919   Pave   NaN      IR1
803    804          60       RL        107.0    13891   Pave   NaN      Reg

     LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
691          Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1182         Lvl    AllPub  ...      555     Ex  MnPrv         NaN       0
1169         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
898          Lvl    AllPub  ...        0    NaN    NaN         NaN       0
803          Lvl    AllPub  ...        0    NaN    NaN         NaN       0

     MoSold YrSold  SaleType  SaleCondition  SalePrice
691       1   2007        WD         Normal     755000
1182      7   2007        WD        Abnorml     745000
1169      7   2006        WD         Normal     625000
898       3   2010       New        Partial     611657
803       1   2009       New        Partial     582933

[5 rows x 81 columns]

### Sorting by Multiple Columns

You can also sort data by multiple columns, which can be helpful for complex sorting criteria. In this example, we'll sort by 'Bedrooms' in ascending order and then by 'Bathrooms' in descending order:

In [11]:
# Sort the data first by 'Bedrooms' in ascending order and then by 'Bathrooms' in descending order
multi_sorted_data = house_df.sort_values(by=['BedroomAbvGr', 'FullBath'], ascending=[True, False])

# Display the sorted data
print(multi_sorted_data.head())

        Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
189    190         120       RL         41.0     4923   Pave   NaN      Reg
53      54          20       RL         68.0    50271   Pave   NaN      IR1
634    635          90       RL         64.0     6979   Pave   NaN      Reg
1163  1164          90       RL         60.0    12900   Pave   NaN      Reg
1213  1214          80       RL          NaN    10246   Pave   NaN      IR1

     LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
189          Lvl    AllPub  ...        0    NaN    NaN         NaN       0
53           Low    AllPub  ...        0    NaN    NaN         NaN       0
634          Lvl    AllPub  ...        0    NaN  GdPrv        Shed     600
1163         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1213         Lvl    AllPub  ...        0    NaN    NaN         NaN       0

     MoSold YrSold  SaleType  SaleCondition  SalePrice
189       8   2008        WD         Normal     286000
53       11   2006        WD         Normal     385000
634       6   2010        WD         Normal     144000
1163      1   2008        WD         Alloca     108959
1213      5   2006        WD         Normal     145000

[5 rows x 81 columns]

## Grouping Data

Grouping data is a powerful technique in data analysis and data wrangling.
It allows us to aggregating and summarizing information based on specific criteria and also perform operations on groups of data. Again we can use  pandas to group and aggregate data effectively. Understanding grouping techniques is essential for tasks like summarizing statistics, exploring trends within subsets, and making data-driven decisions.

### Grouping by a Single Column
One of the most common grouping tasks is aggregating data based on a single column. We can use the groupby() method for this.

Here's an example of grouping houses by their neighborhood and calculating the mean sale price for each neighborhood:

To group the data, we create a new Series grouped_data by calling the groupby() function on the DataFrame and specifying the column to group by ('Neighborhood'). We then select the 'SalePrice' column and apply the mean() function to calculate the mean price for each neighborhood

In [13]:
# Grouping data based on a column and calculating the mean
grouped_data = house_df.groupby('Neighborhood')['SalePrice'].mean()

print(grouped_data)

MSZoning
C (all)     74528.000000
FV         214014.061538
RH         131558.375000
RL         191004.994787
RM         126316.830275
Name: SalePrice, dtype: float64

### Grouping by Multiple Columns

You can also group data by multiple columns to create more complex groupings. For instance, you might want to group houses by both 'Neighborhood' and 'BldgType.' Here's an example:

In [14]:
# Group the data by both 'Neighborhood' and 'HouseType' and calculate the mean sale price for each combination
multi_grouped_data = house_df.groupby(['Neighborhood', 'BldgType'])['SalePrice'].mean()

# Display the grouped data
print(multi_grouped_data)

Neighborhood  BldgType
Blmngtn       1Fam        159895.000000
              TwnhsE      197056.875000
Blueste       Twnhs       151000.000000
              TwnhsE      124000.000000
BrDale        Twnhs       102408.333333
                              ...
StoneBr       TwnhsE      220833.333333
Timber        1Fam        242606.837838
              2fmCon      228950.000000
Veenker       1Fam        223375.000000
              TwnhsE      279833.333333
Name: SalePrice, Length: 64, dtype: float64


## Combining Data

Combining data involves merging or concatenating multiple datasets to create a unified view or to perform further analysis.

Lets generate house data with two datasets;  dataset 1 and dataset 2 using dictionaries data_1 and data_2, respectively

The first way to combine data is by vertically concatenating the DataFrames using

      pd.concat()

We pass a list of DataFrames [df1, df2] and set ignore_index=True to reindex the concatenated data.

In [15]:
import pandas as pd

# Generate house data for dataset 1
data_1 = {
    'Address': ['123 Main St', '456 Elm St', '789 Oak St'],
    'Price': [500000, 600000, 450000],
    'Bedrooms': [3, 4, 2],
    'Bathrooms': [2, 2.5, 1.5]
}

# Generate house data for dataset 2
data_2 = {
    'Address': ['321 Pine St', '654 Maple St'],
    'Price': [700000, 550000],
    'Bedrooms': [3, 3],
    'Bathrooms': [3, 2],
    'Garage': [2, 1]
}

# Create DataFrames for each dataset
df1 = pd.DataFrame(data_1)
df2 = pd.DataFrame(data_2)

# Concatenate DataFrames vertically
appended_df = pd.concat([df1, df2], axis=0, ignore_index=True)
print('\n', appended_df)

         Address   Price  Bedrooms  Bathrooms  Garage
0   123 Main St  500000         3        2.0     NaN
1    456 Elm St  600000         4        2.5     NaN
2    789 Oak St  450000         2        1.5     NaN
3   321 Pine St  700000         3        3.0     2.0
4  654 Maple St  550000         3        2.0     1.0

This is also known appending DataFrames vertically.

In this code:

* We use pd.concat() with the axis=0 parameter to indicate vertical concatenation (appending rows).
* The ignore_index=True parameter resets the index of the resulting DataFrame.


WWhen appending DataFrames vertically using methods like pd.concat(), there are a few rules and considerations to keep in mind:

1. Column Names: The DataFrames should have the same column names. If the column names differ between the DataFrames, you may encounter issues during appending. If you want to keep columns that are only present in one of the DataFrames, you can set the ignore_index parameter to True, which will reset the index.

2. Column Order: The order of columns should be the same in both DataFrames. If the column order differs, you may need to re-order the columns before appending.

3. Index: By default, when appending, the index from each DataFrame is retained. If you want to create a new index or reset the index, you can use the ignore_index parameter and set it to True.

4. Data Types: Column data types should be compatible. If there are differences in data types, pandas will attempt to cast the data to a common type. If a column cannot be cast, it may result in an error.

5. Missing Data: If one of the DataFrames has missing data in certain columns, the appended DataFrame will have NaN values in those columns for rows where data is missing.

6. Duplicates: If there are duplicate rows between the DataFrames, these duplicates will be retained in the appended DataFrame. If you want to remove duplicates, you can use the drop_duplicates() method after appending.

Note that pandas also has the  

    pd.append()
    
method which is similar to pd.concat(). It's an alternative to the pd.concat() function and provides a more concise way to combine two DataFrames. However, the rules and considerations for appending DataFrames using append() are quite similar to those for pd.concat():


### Merge

We can also merge DataFrames horizontally in pandas. Merging horizontally typically involves combining DataFrames based on common columns (keys). The primary function for horizontal merging in pandas is

      pd.merge().

We specify the column to merge on using on='Address' and set how='inner' to perform an inner join.

In [19]:
# Generate house data for dataset 1
data_1 = {
    'Address': ['123 Main St', '456 Elm St', '789 Oak St', '321 Pine St', '654 Maple St'],
    'Price': [500000, 600000, 450000,700000, 55000],
    'Bedrooms': [3, 4, 2,3, 3],
    'Bathrooms': [2, 2.5, 1.5,3,2]
}

# Generate house data for dataset 2
data_2 = {
     'Address': ['123 Main St', '456 Elm St', '789 Oak St', '321 Pine St', '654 Maple St'],
     'Garage': [2, 1,0,2,1],
     'BldgType': ['1Fam','TwnhsE','2fmCon','1Fam', '1Fam']
}

# Create DataFrames for each dataset
df1 = pd.DataFrame(data_1)
df2 = pd.DataFrame(data_2)


print('\n', df1)
print('\n', df2)

# Merge DataFrames based on a common column
merged_data = pd.merge(df1, df2, on='Address', how='inner')

print("\nMerged Data:")
print(merged_data)

         Address   Price  Bedrooms  Bathrooms
0   123 Main St  500000         3        2.0
1    456 Elm St  600000         4        2.5
2    789 Oak St  450000         2        1.5
3   321 Pine St  700000         3        3.0
4  654 Maple St   55000         3        2.0

         Address  Garage BldgType
0   123 Main St       2     1Fam
1    456 Elm St       1   TwnhsE
2    789 Oak St       0   2fmCon
3   321 Pine St       2     1Fam
4  654 Maple St       1     1Fam

Merged Data:
        Address   Price  Bedrooms  Bathrooms  Garage BldgType
0   123 Main St  500000         3        2.0       2     1Fam
1    456 Elm St  600000         4        2.5       1   TwnhsE
2    789 Oak St  450000         2        1.5       0   2fmCon
3   321 Pine St  700000         3        3.0       2     1Fam
4  654 Maple St   55000         3        2.0       1     1Fam

## Results Review

We merged two DataFrames with a common column 'key', in this case 'address'

    merged_data = pd.merge(df1, df2, on='Address', how='inner')

* pd.merge() is used to merge these DataFrames horizontally based on the 'key' column.
* The on parameter specifies the common column to merge on.
* The how parameter determines the type of merge (e.g., 'inner', 'outer', 'left', 'right').

Here's a brief explanation of common merge types:

* 'inner': Retains only rows with matching keys in both DataFrames (intersection).
* 'outer': Retains all rows from both DataFrames, filling missing values with NaN (union).
* 'left': Retains all rows from the left DataFrame and matching rows from the right DataFrame.
* 'right': Retains all rows from the right DataFrame and matching rows from the left DataFrame.

You may recall from our Data Wrangling with SQL course. Thus you can see how, similar to SQL, horizontal merging is useful when you want to combine datasets with shared columns or keys. It allows you to bring related information from different DataFrames into a single, merged DataFrame.

# Exercises

## Exercise 1: Filtering Data

Filter the house dataset to display houses with more than 3 bedrooms. You can start with the following code

    import pandas as pd

    # Get the house price dataset
    !wget https://raw.githubusercontent.com/odsc2015/Data-Wrangling-With-SQL/main/kaggle-house-price-data-set.csv

    # Load the dataset
    house_df = pd.read_csv('kaggle-house-price-data-set.csv')

## Exercise 2: Grouping Data

Group the house dataset by 'Neighborhood' and calculate the mean sale price for each neighborhood.

## Exercise 3: Appending Data

Create two DataFrames, df1 and df2, with the same column names ('A' and 'B') with the following data and append df2 below df1.

    df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
    df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})